node_modules
dist
.DS_Store
.umi
.umi-production
.idea
pcakage-lock.json
pnpm-lock.yaml

# Recommendation from https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored (not using Zero-installs)
.yarn/*
!.yarn/releases
!.yarn/plugins
!/.yarn/sdks/
!/.yarn/sdks/**/lib/
!.yarn/versions
.pnp.*
